<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Upload Your Photo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">

<div *ngIf="!imagePreview; else imagePreviewTemplate" class="upload-container" (click)="fileInput.click()">
  <p>Upload Your Photo Here</p>
</div>

<ng-template #imagePreviewTemplate>
  <img *ngIf="!processedImage" [src]="imagePreview" class="uploaded-image" />
  <img *ngIf="processedImage" [src]="processedImage" class="uploaded-image" />
  <div class="button-group">
    <ion-button class="action-button" (click)="uploadImage()">Confirm Photo</ion-button>
    <ion-button class="action-button" color="medium" (click)="reset()">Reset</ion-button>
    <ion-button class="action-button" *ngIf="downloadLinkAvailable" (click)="downloadCSV()">Download Attendance CSV</ion-button>

  </div>

</ng-template>


</ion-content>
