<ion-header [translucent]="true">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row >
      <ion-col>
        <div class="container">
          <div class="logo">
            <ion-icon src="../../assets/Logo No Txt.svg"></ion-icon>
            <div>FACE RECOGNITION</div>
          </div>

          
          <div class="btns">
            <ion-button routerLink="/upload" shape="round">
              <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
              Upload Photo
            </ion-button>
            <ion-button routerLink="/takephoto" shape="round">
              <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
              Take a Photo
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
