<ion-header [translucent]="true">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row >
      <ion-col>
        <div class="container">
          <div class="logo">
            <ion-icon src="../../assets/Logo No Txt.svg"></ion-icon>
          </div>
          <div class="welcome">
            Welcome to <br>
            <span class="bold-text">FACE RECOGNITION</span>
          </div>
          
          <div class="btn">
            <ion-button routerLink="/modes" shape="round">
              <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
              Get Started</ion-button>
          </div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
