ion-header{
    margin:5px;
}
ion-grid{
    margin: 0 18px 0 18px;
}
// ion-content {
//     --background: transparent !important;
//   }

.container{
    border-radius: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:70vh;
}


#cameraPreview {

    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.backcontainer{
    background-color: rgba(255, 255, 255);
    width: 100%;
    height: 70vh;
    border-radius: 20px;
    margin-bottom: 10px;
}

.cam {
    width: 90px; 
    height: 90px; 
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 3rem;

    position: absolute; 
    bottom: -40px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 9999; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.btns{
    margin-bottom: 15px;
}

